<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pingpal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.pingpals.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>pingpal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>GIDClientID</key>
    <string>427531996340-467s2p6usgf9jhbun227vpert19qnimk.apps.googleusercontent.com</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>CFBundleURLName</key>
		<string>com.googleusercontent.apps.427531996340-467s2p6usgf9jhbun227vpert19qnimk</string>
		<key>CFBundleURLSchemes</key>
		<array>
		<string>com.googleusercontent.apps.427531996340-467s2p6usgf9jhbun227vpert19qnimk</string>
		</array>
	</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
    <string>Not used in app</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Not used in app</string>
    <key>NSCameraUsageDescription</key>
    <string>Not used in app</string>
    <key>NSContactsUsageDescription</key>
    <string>Not used in app</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Not used in app</string>
    <key>NSMotionUsageDescription</key>
    <string>Not used in app</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Not used in app</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Not used in app</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
        <string>processing</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
    <key>FIRMessagingAutoRegisterEnablediOS10</key>
    <true/>
    <key>FirebaseMessagingAutoInitEnabled</key>
    <true/>
    <key>NSBonjourServices</key>
    <array>
        <string>_dartobservatory._tcp</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Allow Flutter tools to connect and debug your application</string>
    <key>aps-environment</key>
    <string>development</string>
    <key>NSNotificationUsageDescription</key>
    <string>We need to send you notifications for chat messages and event updates</string>
</dict>
</plist>
